{% extends './layout/_layout.njk' %}

{% block ogp -%}{% endblock %}

{% block title -%}sample{% endblock %}

{% block css -%}{% endblock %}

{% block jslib %}{% endblock -%}
{% block js %}{% endblock -%}

{% block contents -%}
<h1>sample</h1>
{%- endblock %}

